{% extends 'base.html.twig' %}

{% block title %}Produit Ajouté{% endblock %}

{% block body %}
    <h1>Produit ajouté avec succès</h1>
    <p>{{ message }}</p>
    <a href="{{ path('cart_index') }}" class="btn btn-primary">Retour au panier</a>
{% endblock %}
