{% extends 'base.html.twig' %}

{% block title %}Informations du Panier{% endblock %}

{% block body %}
    <h1>Informations sur votre Panier</h1>
    <p>Nombre de produits: {{ count }}</p>
    <p>Total du panier: {{ total }} €</p>
{% endblock %}
