{% extends 'base.html.twig' %}

{% block title %}Produit Supprimé{% endblock %}

{% block body %}
    <h1>Produit supprimé avec succès</h1>
    <a href="{{ path('cart_index') }}" class="btn btn-primary">Retour au panier</a>
{% endblock %}
