{% extends 'base.html.twig' %}

{% block title %}Equipment History{% endblock %}

{% block body %}
<h1 class="text-center">Equipment History</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Equipment Name</th>
            <th>Action</th>
            <th>Date</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        {% for history in historiqueList %}
            <tr>
                <td>
                    {% if history.equipement is not null %}
                        {{ history.equipement.nom }}
                    {% else %}
                        <em>Deleted Equipment</em>
                    {% endif %}
                </td>
                <td>{{ history.action }}</td>
                <td>{{ history.date|date('Y-m-d H:i') }}</td>
                <td>{{ history.user }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
