{% extends 'base.html.twig' %}

{% block title %}Equipment History{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4 display-4">Equipment History</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Equipment Name</th>
                    <th scope="col">Action</th>
                    <th scope="col">Date</th>
                    <th scope="col">User</th>
                </tr>
            </thead>
            <tbody>
                {% for history in historiqueList %}
                    <tr>
                        <td>
                            {% if history.equipement is not null %}
                                <span class="fw-semibold">{{ history.equipement.nom }}</span>
                            {% else %}
                                <em class="text-muted">Deleted Equipment</em>
                            {% endif %}
                        </td>
                        <td>{{ history.action }}</td>
                        <td>{{ history.date|date('Y-m-d H:i') }}</td>
                        <td>{{ history.user }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center text-muted">No history available</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
