{% extends 'base.html.twig' %}

{% block title %}Accueil des séances{% endblock %}

{% block body %}
<h1>Bienvenue sur la gestion des séances</h1>
<a href="{{ path('list_seance') }}">Voir la liste des séances</a>
<a href="{{ path('add_seance') }}">Ajouter une nouvelle séance</a>
{% endblock %}
