{% extends 'base2.html.twig' %}

{% block body %}
    <h1>Vérifiez votre adresse e-mail</h1>
    <p>
        Un e-mail de confirmation a été envoyé à votre adresse e-mail. Veuillez cliquer sur le lien dans cet e-mail pour vérifier votre compte.
    </p>
{% endblock %}
