{% extends 'base.html.twig' %}

{% block title %}Dashboard - Abonnements Achat{% endblock %}

{% block body %}
<style>
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
}


.pagination a, .pagination span {
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.pagination a:hover, .pagination span:hover {
    background-color: #007bff;
    color: #fff;
    transform: translateY(-2px);
}

.pagination .active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination .disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: #f8f9fa;
    border-color: #ddd;
}

.pagination .prev, .pagination .next {
    font-weight: 700;
    color: #007bff;
}

.pagination .prev:hover, .pagination .next:hover {
    color: #0056b3; 
    transform: translateY(-2px); 
}

.pagination .first, .pagination .last {
    margin-left: 10px;
    margin-right: 10px;
}

</style>
<h1>Tableau des Abonnements Achat</h1>

<table class="table">
    <thead>
        <tr>
            <th>Type Abonnement</th>
            <th>Date d'achat</th>        </tr>
    </thead>
    <tbody>
        {% for abonnement in abonnementAchats %}
            <tr>
                <td>{{ abonnement.abonnement.typeAbonnement.nom }}</td>  <!-- Accès à TypeAbonnement via Abonnement -->
                <td>{{ abonnement.dateAchat|date('d/m/Y') }}</td>
              
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun abonnement achat trouvé.</td>
            </tr>
        {% endfor %}
         <div class="pagination">
    {{ knp_pagination_render(abonnementAchats) }}
</div>
    </tbody>
</table>
{% endblock %}
