/* Fichier : public/css/styles.css */

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    font-weight: bold;
    font-size: 1.2rem;
}

.card-footer a {
    text-decoration: none;
}

.card-body img {
    max-width: 100%;
    height: auto;
}
