<form method="post" action="{{ path('produit_delete', {'id': produit.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
