{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center font-weight-bold mb-4">Add New Category</h1>
    <div>
        {{ form_start(form) }}
        
        <div class="form-group mb-3">
            <label for="categoryName" class="font-weight-bold">Category Name</label>
            {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'id': 'categoryName'}}) }}
            {{ form_errors(form.nom) }} {# Display the errors for the 'nom' field #}
        </div>
        
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
