/* Style global pour la section */
.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.product-name {
    font-size: 1.5rem;
    color: #333;
    margin: 15px 0;
}

.product-price {
    font-size: 1.2rem;
    color: #e67e22;
    margin-bottom: 15px;
}

.product-description {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
}

.add-to-cart-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #2980b9;
}

.cart-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #3498db;
    text-decoration: none;
    border: 1px solid #3498db;
    padding: 10px 20px;
    border-radius: 5px;
}

.cart-link:hover {
    background-color: #3498db;
    color: #fff;
}





.cart-container {
    display: none; /* Panier caché par défaut */
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    width: 300px;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    overflow-y: auto;
}


