{% extends 'base.html.twig' %}

{% block title %}New Typeabonnement{% endblock %}

{% block body %}
    <h1>ajouter un type d'abonnement</h1>

    {{ include('typeabonnement/_form.html.twig') }}

    <a class="btn btn-secondary btn-lg" href="{{ path('app_typeabonnement_index') }}">Retour</a>
{% endblock %}
